<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand cursor" href="#"><i class="fas fa-film"></i> BollywoodHub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" *ngIf="isAuthenticated">Favorites</a>
      </li>
      <!-- TODO: add genres dropdown -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input #txtSearch class="form-control mr-sm-2" type="search" (keyup.enter)="searchMovie(txtSearch.value)" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchMovie(txtSearch.value)">Search</button>
    </div>
    <ul class="navbar-nav">
        <a class="nav-link link-info" style="cursor: pointer;" *ngIf="isAuthenticated" (click)="onLogout()"> Log Out</a>
        <a class="nav-link link-info" href="/auth" style="cursor: pointer;" *ngIf="!isAuthenticated">Log in</a>
    </ul>
  </div>
</nav>
