**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.toolstarget
**/.vs
**/.vscode
**/bin
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**