.row {
  color: var(--text-color);
}

.poster {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title {
  margin-top: 2rem
}

.overview {
  color: var(--text-color);
}

.buttons {
  overflow: hidden;
  display: block
}

.btn1 {
  margin-right: 1rem;
  margin-left: 1rem;
}
